.association-list {
  display: flex;
  flex-wrap: wrap;
}

.association {
  position: relative;
  width: calc(50% - 1rem);
  margin: 0 0.5rem 1rem;
  border: 1px solid black;
  padding: 1rem;

  @media (max-width: $media-m) {
    width: 100%;
    margin: 0 0 1rem;
  }
  @media (min-width: $media-xl) {
    width: calc(33.333333333% - 1rem);
  }

  display: flex;
  
  text-decoration: none;
  color: inherit;
  &:hover {
    color: inherit;
    border-color: orange;
  }
  &-title {
    font-size: 1.3rem;
    margin-bottom: 0.6rem;
  }

  &-image {
    width: 100%;
    max-width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 0 auto 1rem;
    padding-left: 2rem;
    order: 2;
  }

  &-text {
    width: 100%;
    p {
      font-size: $font-s;
      line-height: 1.4;
      margin-left: 0;
    }
  }
}

.association-page {
  .association-logo {
    width: $width-s;
    max-width: 100%;
    margin: 1rem auto;
  }

  .association-type {
    max-width: $width-m;
    margin: 0 auto;
  }
}