.association-list {
  display: flex;
  flex-wrap: wrap;
}

.association {
  width: 29.333333%;
  margin: 0 2% 1rem 2%;
  position: relative;

  @media (max-width: $media-m) {
    width: 46%;
  }

  @media (max-width: $media-s) {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  @media (min-width: $media-xl) {
    width: 21%;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }

  &-title {
    font-size: 1.3rem;
    margin-bottom: 0.6rem;
  }

  &-image {
    width: 100%;
    padding-right: 2rem;
    margin-bottom: 1rem;
    img {
      height: 20rem;
    }
  }

  &-text {
    width: 100%;
    p {
      font-size: $font-s;
    }
  }
}

.association-page {
  .association-logo {
    width: $width-s;
    max-width: 100%;
    margin: 1rem auto;
  }

  .association-type {
    max-width: $width-m;
    margin: 0 auto;
  }
}