* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
	font-size: calc(13px + 6 * ((100vw - 320px) / 1200));
  height: 100%;
  background: $color-background;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: $color-background;
  color: $color-text;

  border-left: 2rem solid $color-black;
  border-right: 2rem solid $color-black;

  font-family: $sans-serif;
  line-height: 1.6;
}

main {
  background: $color-white;
  color: $color-black;
}

section {
  padding: 2rem 2rem 6rem;
}

a {
  color: $color-link;
  transition: color .2s ease-in-out;

  &:hover {
    color: $color-hover;
  }
}

p {
  max-width: $width-m;
  margin: 0 auto 2rem;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin: 0 auto 1rem;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

img {
  max-width: 100%;
  height: auto;
}

.table-wrap {
  max-width: 100%;
  overflow: scroll;
}
table, td, th {
  line-height: 1.3;
  border: 1px solid black;
}
td, th {
  padding: 0.6rem 0.8rem;
}

.iframe-wrap {
  width: 100%;
  position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}