.blog {
  background: $color-black;
  color: $color-white;
  padding-bottom: 1rem;
}

.post-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post {
  width: $width-xs;
  margin: 0 1rem 1.3rem 0;
  position: relative;

  background: $color-white;
  color: $color-black;

  &:nth-child(2n+1) {
    background: $color-pink;
  }
  &:nth-child(3n+1) {
    background: $color-yellow;
  }

  &-text {
    padding: 0.4rem 1rem 1.4rem;

    p {
      margin-bottom: 0;
    }
  }

  &-title {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.4rem;
  }

  &-meta {
    font-size: $font-s;;
    margin-bottom: 1rem;
  }

  &-body {
    font-size: $font-s;
  }

  &-content {
    max-width: $width-m;
    margin: 0 auto;

    img, div {
      max-width: 100%;
    }

    ul {
      max-width: $width-s;
      margin: 0 auto 1rem;
    }

    ul, p {
      margin: 0 auto 1.6rem;
    }

    h1, h2, h3, h4, h5, h6 {
      max-width: $width-s;
      margin-top: 3.6rem;
    }
  }
}

.post-hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  max-width: $width-xl;
  margin: 0 auto 4rem;
  
  &_text, &_image {
    width: 50%;
  }


  @media (max-width: $media-m) {
    &_text, &_image {
      width: 100%;
    }
  }

  &_image {
    position: relative;
  }

  &_text {
    padding: 4rem 2rem 2rem 0;
    z-index: 666;
  }

  h1 {
    font-size: 2.4rem;
    font-weight: 900;
    text-shadow: -0.1rem 1.6rem 0 $color-white;
  }
}

.pagination {
  text-align: center;
  background: $color-black;
  padding-bottom: 3rem;
  a {
    display: inline-block;
    padding: 0.3rem 1rem;
    background: $color-green;
    color: $color-black;
    text-decoration: none;
    border-radius: 10rem;
    margin-right: 0.6rem;

    &:hover {
      background: $color-orange;
      color: $color-black;
    }
  }
}

.post-page {
  .section-title {
    font-size: 4rem;
    line-height: 1.14;
    @media (max-width: $media-s) {
      font-size: 2.6rem;
    }
  }
  .post-meta, .section-title {
    max-width: $width-l;
    margin: 0 auto 1rem;
  }
  .post-meta {
    margin-bottom: 3rem;
    p {
      margin-left: 0;
    }
  }
}

.wp-caption {
  max-width: 100%;
  margin-bottom: 3rem;

  &-text {
    font-size: 0.8rem;
  }
}