.blog {
  background: $color-background-blog;
  color: $color-black;
  padding-bottom: 1rem;
}

.post-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.post {
  width: 31.333333%;
  margin-bottom: 1rem;
  position: relative;
  text-decoration: none;
  color: $color-black;
  cursor: pointer;

  &:hover {
    color: $color-black;
  }

  &-text {
    padding: 1rem 2rem 1rem 0;

    p {
      margin-bottom: 0;
    }
  }

  &--no-media {
     
    .post-title {
      font-size: 2.4rem;
      margin-bottom: 1rem;
    }
    p {
      font-size: 1rem;
      line-height: 1.36;
    }
  }

  &-title {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 0.4rem;
  }

  &-meta {
    font-size: $font-s;;
    margin-bottom: 1rem;
  }

  &-body {
    font-size: $font-s;
  }

  &:last-of-type {
    display: none;
  }

  @media (max-width: $media-l) {
    width: 48%;
    &:nth-of-type(3) {
      display: none;
    }
  }

  @media (max-width: $media-s) {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    &-content {
      padding: 0 1rem;
    }
  }

  @media (min-width: $media-xl) {
    width: 23%;
    &:last-of-type {
      display: block;
    }
  }
}

.pagination {
  text-align: center;
  background: $color-background-blog;
  color: $color-black;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    display: inline-block;
    padding: 0.3rem 1rem;
    text-decoration: none;
    margin: 0;
    width: 46.9999995%;
    max-width: none;
    &.button-prev {
      background: $color-yellow;
      border-color: $color-yellow;
    }
    &:hover {
      background: transparent;
    }
  }
}

.post-page {
  padding: 0 0 4rem;
  .post-hero {
    background: $color-black;
    color: $color-white;

    &-inner {
      max-width: $width-l;
      margin: 2rem auto 0;
      padding: 2rem 0 10rem;
      position: relative;
    }

    &_text {
      text-align: center;
      h1 {
        font-size: 3.6rem;
        line-height: 1;
        text-shadow: -0.06rem 0.1rem 0.26rem rgba(0, 0, 0, 0.9);
        @media (max-width: $media-s) {
          font-size: 2.6rem;
        }
      }
    }

    &_image {
      width: 36rem;
      max-width: 90%;
      margin: -11rem auto 2rem;
    }
    @media (max-width: $media-s) {
      h1 {
        font-size: 2rem;
        padding: 0 1rem;
      }
      &_image {
        max-width: 100%;
        padding: 0 1rem;
        margin-bottom: 1.6rem;
      }
    }
  }
  .post-meta, .section-title {
    max-width: $width-l;
    margin: 0 auto 1rem;
  }
  .post-meta {
    font-size: $font-s;
    text-transform: uppercase;
    opacity: 0.6;
    margin: 2rem auto;
  }
}