.blog {
  background: $color-background-blog;
  color: $color-black;
  padding-bottom: 1rem;
}

.post-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.post {
  width: 31.333333%;
  margin-bottom: 1rem;
  position: relative;
  text-decoration: none;
  color: $color-black;
  box-shadow: 
    0 0 0 0.3rem $color-background-blog,
    0 0 0 0.35rem $color-background-blog;
  transition: box-shadow .1s ease-in-out;
  cursor: pointer;

  &:hover {
    color: $color-black;
  }

  &-text {
    padding: 1rem 2rem 1rem 0;

    p {
      margin-bottom: 0;
    }
  }

  &-title {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 0.4rem;
  }

  &-meta {
    font-size: $font-s;;
    margin-bottom: 1rem;
  }

  &-body {
    font-size: $font-s;
  }

  &-content {
    max-width: $width-m;
    margin: 0 auto;

    img, div {
      max-width: 100%;
    }

    ul {
      max-width: $width-m;
      margin: 0 auto 1rem;
    }

    ul, p, span {
      margin: 0 auto 1.6rem;

      /* overwrite styles from wordpress */
      text-align: left !important;
      color: inherit !important;
      font-family: inherit !important;
    }

    h1, h2, h3, h4, h5, h6 {
      max-width: $width-m;
      margin-top: 3.6rem;
    }
  }

  &:last-of-type {
    display: none;
  }

  @media (max-width: $media-m) {
    width: 48%;
    &:nth-of-type(3) {
      display: none;
    }
  }

  @media (max-width: $media-s) {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  @media (min-width: $media-xl) {
    width: 23%;
    &:last-of-type {
      display: block;
    }
  }
}

.post-hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  max-width: $width-xl;
  margin: 0 auto 4rem;
  
  &_text, &_image {
    width: 50%;
  }


  @media (max-width: $media-m) {
    &_text, &_image {
      width: 100%;
    }
  }

  &_image {
    position: relative;
    order: 1;
  }

  &_text {
    order: 2;
    padding: 4rem 0 2rem 2rem;
    z-index: 666;
  }

  h1 {
    font-size: 2.4rem;
    font-weight: 900;
    text-shadow: -0.1rem 1.6rem 0 $color-white;
  }
}

.pagination {
  text-align: center;
  background: $color-background-blog;
  color: $color-black;
  padding-bottom: 3rem;
  a {
    display: inline-block;
    padding: 0.3rem 1rem;
    background: $color-green;
    color: $color-black;
    text-decoration: none;
    margin-right: 0.6rem;

    &:hover {
      background: $color-orange;
      color: $color-black;
    }
  }
}

.post-page {
  .section-title {
    font-size: 4rem;
    line-height: 1.14;
    @media (max-width: $media-s) {
      font-size: 2.6rem;
    }
  }
  .post-meta, .section-title {
    max-width: $width-l;
    margin: 0 auto 1rem;
  }
  .post-meta {
    margin-bottom: 3rem;
    p {
      margin-left: 0;
    }
  }
}

.wp-caption {
  max-width: 100%;
  margin-bottom: 3rem;

  &-text {
    font-size: 0.8rem;
  }
}