.events {
  background: $color-black;
  color: $color-white;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.event {
  width: $width-s;
  margin: 0 2rem 1.2rem;
  position: relative;

  padding-bottom: 1.6rem;
  border-bottom: 1px solid $color-white;

  text-decoration: none;

  &-image {
    width: 5rem;
    margin: 0 1rem 1rem 0;
    float: right;
  }
  
  &-title {
    display: block;
    text-decoration: none;
    color: $color-orange;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0;
    transition: color .12s ease-in-out;
  }

  &:hover {
    .event-title {
      color: $color-white;
    }
  }

  &-meta {
    font-size: $font-s;
    color: $color-white;
  }

  .event-start {
    display: block;
    font-size: 1.3rem;
  }
}

.event-types {
  margin-top: 1rem;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block;
    margin-right: 0.5rem;
    &:last-child {
      margin-right: 0;
    }

    color: $color-black;
    background: $color-orange;
    padding: 0.2rem 0.3rem;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.05rem;
    font-size: $font-s;
    
  }
  a {
    color: inherit;
    text-decoration: none;
  }
}

.event-page {
  background: $color-black;
  color: $color-white;
  padding-top: 0;
}

.event-hero {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;

  max-width: $width-l;
  margin: 0 auto 4rem;
  
  &_text, &_image {
    width: 50%;
  }


  @media (max-width: $media-m) {
    &_text, &_image {
      width: 100%;
    }
  }

  &_image {
    position: relative;
    &:after {
      content: " ";
      display: block;
      position: absolute;
      top: -1rem; right: -1rem; bottom: -1rem; left: -1rem;
      background: linear-gradient(90deg, $color-black, transparent)
    }
  }

  &_text {
    padding: 4rem 0 2rem 0;
    z-index: 666;
  }

  h1 {
    font-size: 3.6rem;
    margin-right: -3.6rem;
    text-shadow: -0.06rem 0.1rem 0.26rem rgba(0, 0, 0, 0.9);
    margin-bottom: 0;
  }

  .venue {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-style: italic;
  }

  .event-date {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }

  .ticket-url {
    display: inline-block;
    background: $color-yellow;
    color: $color-black;
    margin: 1rem 0;
    padding: 0.6rem 1.4rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    font-weight: 500;

    box-shadow: -0.4rem 0.4rem 0 -0.1rem $color-orange;

    transition: all .2s ease-in-out;

    &:hover {
      background: $color-white;
      transform: translate(0.2rem, -0.2rem);
      box-shadow: -0.6rem 0.6rem 0 -0.1rem $color-orange;
    }
  }

  .facebook-url {
    display: block;
    text-decoration: none;
    &:before {
      content: "→ ";
    }
  }
}