.events {
  background: $color-black;
  color: $color-white;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.event {
  width: $width-xs;
  margin: 0 3.6rem 1.2rem 0;
  position: relative;

  padding-bottom: 1.6rem;
  border-bottom: 1px solid $color-white;

  text-decoration: none;
  
  &-title {
    display: block;
    text-decoration: none;
    color: $color-orange;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0.4rem;
    transition: color .12s ease-in-out;
  }

  &:hover {
    .event-title {
      color: $color-white;
    }
  }

  &-meta {
    font-size: $font-s;
    color: $color-white;
  }
}

.event-page {
  background: $color-black;
  color: $color-white;
  padding-top: 0;
}

.event-hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  max-width: $width-l;
  margin: 0 auto 4rem;
  
  &_text, &_image {
    width: 50%;
  }


  @media (max-width: $media-m) {
    &_text, &_image {
      width: 100%;
    }
  }

  &_image {
    height: 100%;
  }

  &_text {
    padding: 4rem 2rem 2rem 0;
  }

  h1 {
    font-size: 3.6rem;
  }

  .venue {
    margin-bottom: 1rem;
  }

  .ticket-url {
    display: inline-block;
    background: $color-yellow;
    color: $color-black;
    margin: 1rem 0;
    padding: 0.6rem 1.4rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    font-weight: 500;

    box-shadow: -0.4rem 0.4rem 0 -0.1rem $color-orange;
    border: 0.1rem solid $color-black;

    transition: all .2s ease-in-out;

    &:hover {
      background: $color-white;
      transform: translate(0.2rem, -0.2rem);
      box-shadow: -0.6rem 0.6rem 0 -0.13rem $color-orange;
    }
  }

  .facebook-url {
    display: block;
  }
}