.events {
  background: $color-black;
  color: $color-white;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.event {
  width: $width-xs;
  margin: 0 3.2rem 1.2rem 0;
  position: relative;

  padding-bottom: 1.6rem;
  border-bottom: 1px solid $color-white;
  
  &-title {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0.4rem;
  }

  &-meta {
    font-size: $font-s;
  }
}

.event-page {
  background: $color-black;
  color: $color-white;
  padding-top: 0;
}

.event-hero {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  
  &_text, &_image {
    width: 50%;
  }


  @media (max-width: $media-m) {
    &_text, &_image {
      width: 100%;
    }
  }

  &_image {
    height: 100%;
  }

  &_text {
    padding: 4rem 2rem 2rem 0;
  }

  h1 {
    font-size: 3.6rem;
  }

  .venue {
    margin-bottom: 1rem;
  }

  .ticket-url {
    display: inline-block;
    background: $color-yellow;
    color: $color-black;
    margin: 1rem 0;
    padding: 0.6rem 1.4rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    font-weight: 500;

    transition: background .2s ease-in-out;

    &:hover {
      background: $color-orange;
    }
  }

  .facebook-url {
    display: block;
  }
}