.site-footer {
  background: $color-black;
  color: $color-white;
  font-size: $font-s;
  padding: 3rem 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto 2rem;
  }

  .logo {
    width: 50%;
    padding-right: 4rem;
    max-width: 24rem;
  }

  @media (max-width: $media-m) {
    .logo {
      width: 60%;
      padding: 0;
      margin: 2rem auto;
      order: 2;
    }
    .social-nav {
      width: 100%;
      padding: 0;
      margin: 0 auto 1rem;
      order: 1;
    }
  }
}

.social-nav {
  text-align: center;
  padding: 3rem 0;
  a {
    display: inline-block;
    margin-right: 1.2rem;
    &:last-child {
      margin-right: 0;
    }
  }
  svg {
    width: 2rem;
    height: 2rem;
    path {
      transition: all .2s ease-in-out;
      fill: $color-bloodorange;
    }
    &:hover path {
      transition: all .2s ease-in-out;
      fill: $color-white;
    }
  }
}

.footer-links {
  display: flex;
  width: 100%;
  text-align: center;
  a {
    flex: 1;
    display: block;
    text-decoration: none;
    color: $color-black;
    margin: 0;
    padding: 0.13rem 0.5rem;
    background: $color-yellow;
    transition: all .2s ease-in-out;
    &:hover {
      background: $color-white !important;;
    }
    &:nth-child(1) {
      background: $color-orange;
    }
    &:nth-child(2) {
      background: $color-yellow;
    }
    &:nth-child(3) {
      background: $color-green;
    }
    &:nth-child(4) {
      background: $color-pink;
    }
  }
}