.site-footer {
  background: $color-black;
  color: $color-white;
  font-size: $font-s;
  padding: 3rem 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto 2rem;
  }

  .logo {
    width: 50%;
    padding-right: 3rem;
  }
  p {
    width: 50%;
    margin: 0;
  }

  @media (max-width: $media-s) {
    .info {
      display: block;
    }
    .logo, p {
      width: 100%;
      padding: 0;
      margin: 0 0 2rem;
    }
  }
}

.social-nav {
  width: 100%;
  text-align: center;
  padding: 3rem 0;
  a {
    display: inline-block;
    margin-right: 1.6rem;
    &:last-child {
      margin-right: 0;
    }
  }
}