.front-page-info {
  display: flex;
  background: $color-white;
  padding: 0;
  text-align: center;

  > div {
    width: 50%;
  }

  p {
    margin: 0;

    a {
      color: $color-black;
    }
  }
  h2, h3 {
    text-align: center;
  }

  h2, h3, p, ul, .button {
    margin-bottom: 1rem;
  }

  .section-title {
    font-weight: 400;
    font-size: 2.8rem;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    line-height: 1.1;
    margin: 1rem auto;
  }
}

.visit-us, .volunteer {
  padding: 2rem;

  .inner {
    margin: 0 auto;
    max-width: $width-m;
  }
}

.visit-us {
  background: $color-green;

  .button {
    color: $color-green;
    &:hover {
      color: $color-white;
    }
  }

  label, input {
    display: block;
    width: 100%;
  }
}

.opening-hours {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.volunteer {
  background: $color-yellow;

  .button {
    color: $color-yellow;
    &:hover {
      color: $color-white;
    }
  }
}

@media (max-width: $media-s) {
  .front-page-info {
    display: block;
    > div {
      width: 100%;
    }
  }
  .visit-us, .volunteer {
    padding: 1rem 1rem 3rem;
  }
}

.show-more {
  display: block;
  width: 100%;
  text-align: center;
  padding: 0 1rem 1rem;

  @media (max-width: $media-s) {
    .button {
      margin: 0;
    }
  }
}