.front-page-info {
  display: flex;
  flex-wrap: wrap;
  background: $color-white;
  padding: 0;
  text-align: center;
  font-size: $font-s;

  > div {
    width: 50%;
  }

  p {
    a {
      color: $color-black;
    }
  }
  h2, h3 {
    text-align: center;
  }

  h2, h3, p, ul {
    max-width: $width-m;
    margin: 0 auto 1rem;
  }

  .section-title {
    font-weight: 700;
    font-size: 2.6rem;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    line-height: 1.1;
    margin-bottom: 1rem;
  }
}

.visit-us, .volunteer {
  padding: 2rem;

  .inner {
    margin: 0 auto;
    max-width: $width-m;
  }
}

.visit-us {
  background: $color-green;

  &_links {
    margin: 0 auto;
  }
  .button {
    color: $color-green;
    &:hover {
      color: white;
    }
  }
}

.volunteer {
  background: $color-yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .button {
    color: $color-yellow;
    &:hover {
      color: white;
    }
  }
}

@media (max-width: $media-s) {
  .front-page-info {
    display: block;
    font-size: 1rem;
    > div {
      width: 100%;
    }
  }
}

.show-more {
  display: block;
  width: 100%;
  text-align: center;
  padding: 0 1rem 1rem;

  @media (max-width: $media-s) {
    .button {
      margin: 0;
    }
  }
}