.site-header {
  padding: 0.6rem 1rem;
  background: $color-black;
  color: $color-white;
  display: flex;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9002;

  .logo {
    width: 2rem;
    height: 1rem;
    margin: 0 3rem;
    margin-top: -0.35rem;
  }
}

.site-nav {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  &:last-of-type {
    justify-content: flex-start;
  }
  a {
    text-decoration: none;
    display: inline-block;
    margin-right: 1.6rem;
    position: relative;
    &:last-child {
      margin-right: 0;
    }

    color: $color-white;
    font-weight: 700;
    //text-transform: uppercase;
    letter-spacing: 0.04em;
    font-size: $font-s;
    
    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background: #fff;
      opacity: 0;
      transform: translateY(5px);
      transition: transform 1s, opacity 0.1s;
      pointer-events: none;
    }
    
    &:hover:after,
    &:focus:after {
      opacity: 1;
      transform: translateY(0px);
      transition: transform 0.3s, opacity 0.3s;
    }
  }
  &_toggle {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2rem;
    line-height: 1;

    display: none;

    &:hover {
      cursor: pointer;
      color: $color-orange;
    }
  }
}

@media (max-width: $media-s) {
  .site-header {
    display: flex;
    flex-direction: column;

    .logo {
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
    }
  }
  .site-nav {
    flex: none;
    display: none;
    text-align: center;
    margin-top: 3rem;
    &_toggle {
      display: block;
    }
    order: 2;
    &:last-of-type {
      order: 3;
      margin-top: 0;
    }
    a {
      font-size: 1rem;
      display: block;
      margin: 1rem 0 0;
      &:hover {
        color: $color-orange;
      }
      &:hover:after, 
      &:focus:after {
        display: none;
      }
    }
  }
  .site-nav-visible {
    height: 100% !important;
    .site-nav {
      display: block;
    }
  }
}