.site-header {
  padding: 1rem 2rem;
  background: $color-black;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 3rem;
  margin-right: 2rem;

  a {
    display: block;
  }
}

.site-nav {
  display: block;
  a {
    text-decoration: none;
    display: inline-block;
    margin-right: 1.6rem;

    color: $color-white;
    font-weight: 500;

    &:hover {
      color: $color-orange;
    }
  }
}