$font-xs: 0.6rem;
$font-s: 0.8rem;

/* DNS PALETTE 2019 */

$color-orange: #F58220;
$color-red: #CB3626;
$color-yellow: #FBD36E;
$color-pink: #FFD5DC;
$color-green: #92CBA5;
$color-black: #060606;
$color-white: #FFFFFF;

$color-background: $color-black;
$color-text: $color-white;
$color-link: $color-orange;
$color-hover: $color-yellow;

$width-xs: 18rem;
$width-s: 20rem;
$width-m: 28rem;
$width-l: 48rem;
$width-xl: 52rem;

$media-s: 600px;
$media-m: 900px;
$media-l: 1200px;
$media-xl: 1600px;