$font-xs: 0.6rem;
$font-s: 0.8rem;

/* DNS PALETTE 2019 */

$color-orange: #F58220;
$color-bloodorange: #e84a1b;
$color-red: #CB3626;
$color-yellow: #FBD36E;
$color-pink: #FFD5DC;
$color-green: #92CBA5;
$color-black: #060606;
$color-white: #FFFFFF;
$color-gray: #242424;

$color-black-gradient: linear-gradient($color-black, $color-gray); 

$color-background: $color-black;
$color-background-events: $color-black-gradient;
$color-background-blog: $color-white;

$color-text: $color-white;
$color-text-event: $color-black;

$color-link: $color-bloodorange;
$color-hover: $color-orange;

$width-xs: 18rem;
$width-s: 20rem;
$width-m: 28rem;
$width-l: 48rem;
$width-xl: 52rem;

$media-s: 600px;
$media-m: 900px;
$media-l: 1200px;
$media-xl: 1600px;