.venue-list {
  h2 {
    max-width: $width-m;
    margin: 6rem auto 1rem;
    text-align: center;
  }
}

.venue {
  text-align: center;
  margin-bottom: 2rem;

  ul, p {
    text-align: left;
    margin-bottom: 0;
  }

  ul {
    font-size: $font-s;
  }

  p {
    &:last-of-type {
      margin-bottom: 1.2rem;
    }
  }

  &-anchor {
    display: block;
    width: 100%;
    max-width: $width-m;
    margin: 0 auto 1rem;
    text-align: center;
  }
}

.venue-page {
  padding-top: 2rem;
  .page-title {
    margin-top: 0;
  }
  ul, p {
    text-align: left;
    margin-bottom: 0;
  }

  ul {
    font-size: $font-s;
  }

  p {
    &:last-of-type {
      margin-bottom: 1.2rem;
    }
  }
}

.venue-hero {
  max-width: $width-l;
  margin: 0 auto 2rem;
}

.venue-title {
  h2 {
    text-transform: uppercase;
    text-align: center;
    margin: 1rem auto;
    padding-top: 2rem;
    font-size: 1.6rem;
  }
  text-decoration: none;
}

.venue-featured-image {
  width: 36rem;
  max-width: 100%;
  margin: 0 auto 1rem;
}

@media (min-width: $media-l) {
  .venue-featured-image, .venue-text {
    display: inline-block;
    width: 48%;
  }
  .venue-text {
    padding-left: 2rem;
  }
  .venue-featured-image {
    max-width: 100%;
    vertical-align: top;
    margin: 0 auto 1rem;
  }
  .venue-title h2 {
    margin: 1rem auto 2rem;
  }
}

@media (min-width: $media-xl) {
  .venue-text {
    padding-left: 0;
  }
}

@media (max-width: $media-s) {
  .venue-featured-image {
    max-width: calc(100% + 2rem);
    margin: 0 -1rem 1rem;
  }
}

.neuf-map {
  max-width: $width-l;
  margin: 2rem auto;
}